Lucas's Projects/nbproject/private/
Lucas's Projects/build/
Lucas's Projects/nbbuild/
Lucas's Projects/dist/
Lucas's Projects/nbdist/
Lucas's Projects/nbactions.xml
Lucas's Projects/nb-configuration.xml